.Container{
    margin: 20px;
    padding: 10px;

}
body{
    background-color: antiquewhite;
}
div.dotted {
    border-style: dotted;
    text-align: center;
    border-width: 5px 5px 5px 5px;
    border-color:red;
}