body{
    background-color: antiquewhite;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

header{
    margin: 20px;
}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal{
    border: 1px solid red;
    height: 250px;
    width: 250px;

}
